<%- include('layout/header') %>
<div class="container">
    <div class="index">
        <div class="columnt" >
            <h1>
                00016278
            </h1>
            <h1>
                This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service
            </h1>
        </div>
    </div>
</div>
<%-include('layout/bottom') %>